<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active">Início</a>
    <a routerLink="/calendario" routerLinkActive="active">Calendário</a>
    <a routerLink="/despesas" routerLinkActive="active">Despesas</a>
    <a routerLink="/guia-juridico" routerLinkActive="active">Guia Jurídico</a>
    <a routerLink="/guia-passeios" routerLinkActive="active">Guia de Passeios</a>
    <a routerLink="/sobre-nos" routerLinkActive="active">Sobre Nós</a>
  </div>
  <div class="profile-section">
    <a routerLink="/perfil" class="profile-link" title="Ver Perfil">
      <img src="assets/img/perfil.png" alt="Perfil">
    </a>
  </div>
</nav>