<div class="guia-passeios-container">
  <div class="page-header">
    <h1>Guia de Passeios</h1>
    <p>Descubra novos lugares e crie memórias inesquecíveis com quem você ama.</p>
  </div>

  <div class="passeios-list">
    <div class="passeio-card">
      <img src="assets/img/restaurante_bob.jpg" alt="Bob Esponja - Burguer & Restaurante" class="card-image">
      <div class="card-content">
        <h3>Bob Esponja - Burguer & Restaurante</h3>
        <p>O primeiro oficial do mundo. Prepare-se para uma experiência imersiva com ambientes temáticos e um cardápio divertido, incluindo o famoso "Hambúrguer de Siri".</p>
        <a href="#" class="saiba-mais">Saiba mais</a>
      </div>
    </div>

    <div class="passeio-card">
      <img src="assets/img/brinquedo.jpg" alt="Arcade Haus" class="card-image"> <div class="card-content">
        <h3>Arcade Haus em São Paulo</h3>
        <p>O destino perfeito para quem ama jogos e diversão interativa. Com um ambiente vibrante e cheio de luzes coloridas no chão e nas paredes, o espaço oferece uma variedade de máquinas arcade e experiências que vão além dos jogos tradicionais.</p>
        <a href="#" class="saiba-mais">Saiba mais</a>
      </div>
    </div>
  </div>
</div>
