<div class="guia-passeios-container">
  <div class="page-header">
    <h1>Guia de Passeios</h1>
    <p>Descubra novos lugares e crie memórias inesquecíveis com quem você ama.</p>
  </div>

  <div class="passeios-list">
    <div class="passeio-card">
      <img src="assets/img/bob-esponja-restaurante.jpg" alt="Bob Esponja - Burguer & Restaurante" class="card-image">
      <div class="card-content">
        <h3>Bob Esponja - Burguer & Restaurante</h3>
        <p>O primeiro oficial do mundo. Prepare-se para uma experiência imersiva com ambientes temáticos e um cardápio divertido, incluindo o famoso "Hambúrguer de Siri".</p>
        <a href="#" class="saiba-mais">Saiba mais</a>
      </div>
    </div>

    <div class="passeio-card">
      <img src="assets/img/fan-hour-games.jpg" alt="Fan Hour Games and Burgers" class="card-image">
      <div class="card-content">
        <h3>Fan Hour Games and Burgers</h3>
        <p>Uma hamburgueria temática de videogames onde a diversão encontra o sabor. Perfeito para um encontro divertido e descontraído!</p>
        <a href="#" class="saiba-mais">Saiba mais</a>
      </div>
    </div>

    <div class="passeio-card">
      <img src="assets/img/brinquedo.jpg" alt="Arcade Haus" class="card-image"> <div class="card-content">
        <h3>Arcade Haus em São Paulo</h3>
        <p>O destino perfeito para quem ama jogos e diversão interativa. Com um ambiente vibrante e cheio de luzes coloridas no chão e nas paredes, o espaço oferece uma variedade de máquinas arcade e experiências que vão além dos jogos tradicionais.</p>
        <a href="#" class="saiba-mais">Saiba mais</a>
      </div>
    </div>

    <div class="passeio-card">
      <img src="assets/img/urban-motion.jpg" alt="Urban Motion" class="card-image">
      <div class="card-content">
        <h3>Urban Motion</h3>
        <p>Prepare-se para saltar de alegria no Urban Motion, um gigante parque de trampolins! Ideal para adolescentes e crianças que buscam aventura e desafios, o espaço oferece uma variedade de atrações como piscinas de espuma, paredes de escalada, e basquete de trampolim.</p>
        <a href="#" class="saiba-mais">Saiba mais</a>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <p>© 2025 Guardian – Todos os direitos reservados.</p>
</footer>