<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="style.css">
  <title>Login</title>
</head>
<body>
  <div class="form-container">
    <h2>Login</h2>
    <form id="form">
      <input type="email" id="email" placeholder="e-mail@gmail.com" required />
      <input type="password" id="senha" placeholder="Senha" required />
      <div class="extra-links">
        <a href="#">Esqueceu sua Senha?</a>
      </div>
      <button type="submit" class="btn">Entrar</button>
    </form>

    <div class="social-login">
      <button class="google">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" 
             alt="Google" 
             width="18" />
        Entrar com Google
      </button>
      <button class="gov">Entrar com o Gov.br</button>
    </div>

    <div class="extra-links">
      Não tem uma conta? <a href="#">Crie uma aqui</a>
    </div>
  </div>
</body>
</html>