<div class="container-cadastro">
  <div class="form-container">
    <h2>Crie sua Conta</h2>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label for="usuario">Nome</label>
        <input type="text" id="usuario" formControlName="usuario" placeholder="Digite seu nome de usuário">
      </div>

      <div class="input-group">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" formControlName="sobrenome" placeholder="Digite seu sobrenome">
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Digite seu email">
      </div>

      <div class="input-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" formControlName="senha" placeholder="Digite sua senha">
      </div>

      <div class="input-group">
        <label for="confirmaSenha">Confirme sua Senha</label>
        <input type="password" id="confirmaSenha" formControlName="confirmaSenha" placeholder="Confirme sua senha">
        <div *ngIf="cadastroForm.errors?.['senhasNaoCoincidem'] && cadastroForm.get('confirmaSenha')?.touched" class="error-message">
          As senhas não coincidem.
        </div>
      </div>

      <button type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
    </form>
    <div class="login-link">
      Já tem uma conta? <a routerLink="/login">Faça Login</a>
    </div>
  </div>
</div>