.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* garantir 100% da viewport */
  width: 100vw;
  /* background-color: rgba(255, 255, 255, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}


.form-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px; /* limite máximo de largura */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-sizing: border-box; /* garante que padding não aumente largura */
  margin: 0 15px; /* para um pouco de espaço lateral em telas pequenas */
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 7px 0;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.password-rules {
  font-size: 0.9em;
  margin-top: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
}

.password-rules ul {
  margin-left: 20px;
  list-style: disc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #d67c35;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b65f1c;
}


#back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('src/assets/img/fundo_cad.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}


@media (max-width: 480px) {
  .form-container {
    max-width: 90%; /* quase toda largura da tela */
    padding: 20px;
  }
}
