<div class="cadastro-container">
  <div class="cadastro-card">
    <h2>Crie sua conta (Etapa 1/3)</h2>
    <form [formGroup]="cadastroForm" (ngSubmit)="registrar()">
      <div class="input-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" formControlName="nome" required>
        <div *ngIf="isFieldInvalid('nome')" class="error-message">
          O nome é obrigatório.
        </div>
      </div>
      <div class="input-group">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" formControlName="sobrenome" required>
        <div *ngIf="isFieldInvalid('sobrenome')" class="error-message">
          O sobrenome é obrigatório.
        </div>
      </div>
      <div class="input-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="isFieldInvalid('email')" class="error-message">
          <span *ngIf="cadastroForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</span>
          <span *ngIf="cadastroForm.get('email')?.errors?.['email']">Formato de e-mail inválido.</span>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="senha" required>
        <div *ngIf="isFieldInvalid('senha')" class="error-message">
          <span *ngIf="cadastroForm.get('senha')?.errors?.['required']">A senha é obrigatória.</span>
          <span *ngIf="cadastroForm.get('senha')?.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres.</span>
        </div>
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirmar Senha</label>
        <input type="password" id="confirm-password" formControlName="confirmaSenha" required>
         <div *ngIf="cadastroForm.errors?.['senhasNaoCoincidem'] && isFieldInvalid('confirmaSenha')" class="error-message">
          As senhas não coincidem.
        </div>
      </div>
      <button type="submit" class="submit-btn">Avançar</button>
    </form>
    <div class="login-link">
      <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
    </div>
  </div>
</div>
