:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   background-image: url('/assets/img/fundo_cad.jpeg');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;

}

.cadastro-card {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cadastro-card h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
  font-size: 16px;
}

.input-group input:focus {
  outline: none;
  border-color: #c58940; /* Cor de destaque do app */
  box-shadow: 0 0 0 2px rgba(197, 137, 64, 0.2);
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #c58940;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px; /* Espaço antes do link de login */
}

.submit-btn:hover {
  background-color: #b37830;
}

.login-link {
  margin-top: 25px;
  font-size: 14px;
}

.login-link a {
  color: #c58940;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .form-container {
    max-width: 90%; /* quase toda largura da tela */
    padding: 20px;
  }
}
