<div class="home-container">
  <div class="header">
    <img src="assets/img/criancas.png" alt="Crianças correndo no parque" class="header-image">
    <div class="header-text">
      <h1>Olá! Bem-vindo(a) ao portal Guardian.</h1>
      <p>Acompanhe datas, controle valores e receba orientações de forma simples.</p>
    </div>
  </div>

  <div class="card-container">
    <a routerLink="/calendario" class="card">
      <img src="assets/img/calendario.jpg" alt="Calendário">
      <span>Calendário</span>
    </a>
    <a routerLink="/despesas" class="card">
      <img src="assets/img/despesas.jpg" alt="Despesas">
      <span>Despesas</span>
    </a>
    <a routerLink="/guia-juridico" class="card">
      <img src="assets/img/livors.jpg" alt="Guia Jurídico">
      <span>Guia Jurídico</span>
    </a>
  </div>

  <div class="moments-section">
    <h2>Momentos com quem você ama</h2>
    <img src="assets/img/brinquedo.jpg" alt="Crianças brincando" class="moments-image">
  </div>
</div>
