<nav class="navbar-container">
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active-link">Início</a>
    <a routerLink="/calendario" routerLinkActive="active-link">Calendário</a>
    <a routerLink="/despesas" routerLinkActive="active-link">Despesas</a>
    <a routerLink="/guia-juridico" routerLinkActive="active-link">Guia Jurídico</a>
    <a routerLink="/guia-de-passeios" routerLinkActive="active-link">Guia de Passeios</a>
    <a routerLink="/sobre-nos" routerLinkActive="active-link">Sobre Nós</a>
  </div>
  <div class="profile-section" routerLink="/perfil">
    <img src="https://i.pravatar.cc/150?u=a042581f4e29026704d" alt="Foto do perfil">
  </div>
</nav>